@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    color: #fff;
}

body {
    min-height: 100vh;
    background: linear-gradient(#000, rgb(174, 13, 13));
}

nav {
    width: 100%;
    position: fixed;
    background-color: black;
    border-bottom: 1px solid rgb(174, 13, 13);
}

nav ul {
    width: 50%;
    margin: 0 auto;
    display: flex;
    justify-content: space-around;
    padding: 1em 0;
}

nav ul li {
    list-style-type: none;
}

nav ul li a {
    text-decoration: none;
    font-size: 18px;
}

nav ul li a:hover {
    color: rgb(223, 216, 216);
}

header {
    padding: 10em;
}

main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#projetos {
    display: grid;
    grid-template-columns: 400px 400px 400px;
    gap: 5em;
}

.foto-projeto {
    width: 400px;
    height: 300px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #000;
    border: 1px solid #fff;
    border-radius: 5px;
    box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.3);
    cursor: pointer;
    
}

.projeto1 {
    background-image: url("../img/projeto_calculadora.png");
    background-size: cover;
    background-position: top center;
}

.foto-projeto:hover {
    border: 1px solid rgb(223, 216, 216);
}

.foto-projeto p {
    color: #fff;
    font-size: 24px;
}

#contato {
    width: 940px;
    margin: 5em 0 2em 0;
}

#contato h2 {
    margin-bottom: 1em;
}

#contato h2:before {
    content: "< ";
}

#contato h2:after {
    content: " />";
}

#contato div a {
    display: flex;
    align-items: center;
    text-decoration: none;
}

#contato div a p:hover {
    color: rgb(223, 216, 216);
}

#contato div {
    margin-bottom: 1em;
}

#contato div img {
    width: 45px;
    margin-right: 1em;
}

footer {
    text-align: center;
    margin-bottom: 1em;
}